*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  line-height: 1.5;
  font-family: Arial, sans-serif; /* Choose a clean font for practice */
  background-color: #dddddd;
  color: #333;
}

main{
  display: flex;
  justify-content: center;
  /* height: 100%;
  width: 100%; */
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #fff;
  max-width: 1250px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input, button, textarea, select{
  font: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, ol{
  list-style: none;
}


h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

.container{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}

.info{
  flex: 1.2;
}

.calc-wrapper{
  flex: 1; 
  border-radius: 8px;
  min-height: 300px;
}

.step{
  display: none;

}

.active{
  display: block;
}

.service-item{
  display: flex;
  gap: 1rem;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 1rem; 
  margin-bottom: 1rem; 
}

.circle{
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s case;
}

.circle::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  display: block;
}

.selected .circle{
  border: 2px solid blue;
}

.selected .circle::before{
  background-color: blue;
}


.progress-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.step-show-wrapper{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin: .5rem;
  /* border: 1px solid red; */
}

.step-indicator{
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.3s case;
}

.step-indicator:before{
  font-size: 1rem;
  font-weight: bold;
  color: gray;
}

.step-indicator {
  background-color: transparent; /* Default */
  color: gray;
}

.step-indicator.active {
  background-color: blue;
  color: white;
}

.step-indicator.completed {
  background-color: green;
  color: white;
}

.step-indicator.completed:before {
  content: ''; /* Remove step number */
  background-image: url('check.svg'); /* Add your SVG as background */
  background-position: center center; 
  background-size:1.8ch;
  background-repeat: no-repeat;
  width: 100%; /* Fit SVG inside the indicator */
  height: 100%;
}

.line{
  flex:1;
  height: 2px;
  background: grey;
}

/*----- Summary -------*/
.summary{
  flex: 1.2;
}

.summary-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Labels and values */
  gap: 0.5rem 1rem; /* Row and column spacing */
  /* border: 1px solid red; */
}

.form{
  flex: 1;
}

.hidden{
  display: none;
}

